<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Pigge signature generator | Vue.js</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="src/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <!-- Place your email signatur code here -->
    <div class="emailSignature">
      <div style="font-family:Tahoma; font-size:13px"><span style="font-family:sans-serif; font-size:14px">Met
          vriendelijke groet,</span></div>
      <div style="font-family:Tahoma; font-size:13px"><br style="font-family:sans-serif; font-size:14px">
        <table
          style="color:rgb(0,0,0); font-family:sans-serif; font-size:14px; border-collapse:collapse; border-spacing:0px">
          <tbody>
            <tr>
              <td>
                <div>{{ name }}</div>
                <div style="color:rgb(120,112,47)">{{ title }}</div>
                <br>
                <br>
                <div><a :href="'mailto:' + email + '@vanderpigge.nl'" target="_blank"
                    style="color:rgb(120,112,47)">sophievanos@vanderpigge.nl</a></div>
                <div><a href="https://vanderpigge.nl" target="_blank"
                    style="color:rgb(120,112,47)">www.vanderpigge.nl</a></div>
                <div><a tabindex="0" href="tel:+31235312454" style="color:rgb(120,112,47)">023 531 2454</a></div>
              </td>
              <td><img src="https://alloy.work/codepen/pigge.png" style="border-style:none"></td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        <div v-if="showDisclaimer" style="font-family:sans-serif; font-size:11px; line-height:1.4em">
          <p>DISCLAIMER</p>
          <p>Dit e-mail bericht is slechts bestemd voor de (rechts-)persoon aan wie het is gericht en kan informatie
            bevatten die persoonlijk of vertrouwelijk is en niet openbaar mag worden gemaakt krachtens wet- of
            regelgeving of overeenkomst. Indien een ander
            dan de geadresseerde dit e-mailbericht ontvangt of anderszins in handen krijgt is hij/zij niet gerechtigd
            tot kennisneming, verspreiding, openbaar maken of vermenigvuldigen daarvan. Hij/zij wordt verzocht A.J. van
            der Pigge B.V. onmiddellijk telefonisch op
            de hoogte te stellen en het e-mail bericht te vernietigen. A.J. van der Pigge B.V. staat niet in voor de
            juiste en volledige overbrenging van de inhoud van een verzonden e-mail bericht, noch voor de tijdige
            ontvangst daarvan.</p>
          <p>The information contained in this e-mail communication is solely intended for the person/legal person whom
            it is has been sent, and as it may contain information of a personal or confidential nature, it may not be
            made public by virtue of law, regulations
            or agreement. If someone other than the intended recipient should receive or come into possession of this
            e-mail communication, he/she will not be entitled to read, disseminate, disclose or duplicate it. If you are
            not the intended recipient, you are requested
            to inform A.J. van der Pigge B.V. of this by telephone immediately, and to destroy the original e-mail
            communication. A.J. van der Pigge B.V. shall not be liable for the correct and complete transmission of the
            contents of a transmitted e-mail communication,
            or for any delay in its receipt.</p>
        </div>
      </div>
    </div>
    <!-- END Place your email signatur code here -->
    <aside>
      <div class="inner">
        <div id="controls">
          <div class="title">
            <h1>Email signature</h1>
            <h3>Generat<span @click="togglePhone">or</span></h3>
          </div>
          <div class="input">
            <label for="input-name">Name</label>
            <input type="text" v-model="name" id="input-name">
          </div>
          <div class="input" v-if="showPhone">
            <label for="input-phone">Phone</label>
            <input type="text" v-model="phone" id="input-phone">
          </div>
          <div class="input">
            <label for="input-winkel">Winkel</label>
            <input type="text" v-model="winkel" id="input-winkel">
          </div>
          <div class="input">
            <label for="input-email">Email</label>
            <input type="text" v-model="email" id="input-email">
            <div class="description">Alleen voor het @ symbool</div>
          </div>
          <h4>Klaar?</h4>
          <p>Kopieer de handtekening en plak deze in jouw email programma.</p>
          <i>Version 0.5</i>
        </div>
        <footer>

          <a href="https://studioalloy.nl" id="logo">
            <img src="https://studioalloy.nl/_nuxt/img/a293d3c.svg">
            <div>
              <span>Powered by</span>
              <span>Studio Alloy</span>
            </div>
          </a>

        </footer>
      </div>
    </aside>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
  <script src="src/script.js"></script>

</body>

</html>