<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Key Combo Generator | QMK</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/tomorrow-night-blue.min.css'>
  <link rel="stylesheet" href=".src/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <h1>Key Combo Generator | QMK</h1>
    <p>Looking for key codes? <a href="https://docs.qmk.fm/#/keycodes_basic?id=basic-keycodes" target="_blank">Check the
        Basic
        Keycodes docs</a></p>
    <div class="alloy-user-input">

      <div class="row" v-for="(item, index) in combos" :key="index">

        <template v-for="(i, index) in item.combo">
          <!-- <template v-for="i in item.combo"> -->
          <input type="text" v-model="i.key">
          <span class="plus">+</span>
        </template>

        <div class="btn-group">
          <button @click="addKey(index)" v-if="item.combo.length <= comboKeyMax">+</button>
          <button @click="removeKey(index)" v-if="item.combo.length >= 3">-</button>
        </div>

        <abbr title="Result of combination">=</abbr>
        <input class="input-result" type="text" v-model="item.result">

        <button @click="removeCombo(index)">-</button>

      </div>
      <div class="btn-group addCombo">
        <button @click="addCombo">+ Add combo</button>
      </div>

    </div>

    <pre v-highlightjs="sourcecode" @click="userIsReady" contenteditable="true"><code class="C#"></code></pre>

    <transition name="scale">
      <div v-if="isUserReady">
        <h2>Important ⚠️ don't forget to update your config.h file!</h2>
        <pre><code class="C#">#define COMBO_COUNT {{combos.length}} # Change this number.</code></pre>
      </div>
    </transition>

    <p>Read the docs on <a href="https://docs.qmk.fm/#/feature_combo?id=combos" target="_blank">QMK Combos</a> | Made by
      <a href="//mvaneijgen.nl" target="_blank">@mvaneijgen</a></p>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js'></script>
  <script src="src/script.js"></script>

</body>

</html>