<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Holyfools email signature generator | Vue.js</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="src/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <!-- Place your email signatur code here -->
    <div class="emailSignature">
      <table style="border-collapse:collapse;border-spacing:0;font-size:14px;">
        <tbody>
          <tr>
            <td>
              <div>
                <a :href="'mailto:' + email + '@holyfools.nl'" style="text-decoration: none;" :style="{'color': color}"
                  id="nameEmail">
                  <strong>{{name}}</strong>
                </a>
                <br>
                <a :href="'tel:' + phone" style="color: #000; text-decoration: none;">{{phone}}</a>
                <br />
                <a :href="'https://www.' + domain" :style="{'color': color}">{{domain}}</a>
                <br />
                <br />
              </div>
              <div>
                <span style="color: #000; text-decoration: none;">
                  {{address}}
                </span>
                <br />
              </div>
              <div>
                <span style="color: #000; text-decoration: none;">
                  {{addressExtra}}
                </span>
              </div>
              <div style="vertical-align:top;color:#000;">
                <span v-for="(item, index) in links" :key="index">
                  <span v-if="index > 0"> | </span>
                  <a :href="'https://www.' + item.url" :style="{'color': color}"">{{item.title}}</a>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END Place your email signatur code here -->
    <aside>
      <div class=" inner">
                    <div id="controls">
                      <div class="title">
                        <h1>Email signature</h1>
                        <h3>Generator</h3>
                      </div>
                      <div class="input">
                        <label for="color">Background</label>
                        <div class="description">If your image has transparensie you can set a background color</div>
                        <input type="color" id="color" v-model="color">
                      </div>
                      <div class="input">
                        <label for="input-name">Name</label>
                        <input type="text" v-model="name" id="input-name">
                      </div>
                      <div class="input">
                        <label for="input-phone">Phone</label>
                        <input type="text" v-model="phone" id="input-phone">
                      </div>
                      <div class="input">
                        <label for="input-email">Email</label>
                        <input type="text" v-model="email" id="input-email">
                      </div>
                      <div class="input">
                        <label for="input-domain">Domain</label>
                        <input type="text" v-model="domain" id="input-domain">
                      </div>
                      <div class="input">
                        <label for="input-name">Address</label>
                        <input type="text" v-model="address" id="input-address">
                      </div>
                      <div class="input">
                        <label for="input-name">Address extra</label>
                        <input type="text" v-model="addressExtra" id="input-address-extra">
                      </div>
                      <div class="input" v-for="(item, index) in links" :key="index">
                        <label :for="'linkTitle' + (index + 1)">Link {{index + 1}}</label>
                        <input type="text" :id="'linkTitle' + (index + 1)" :value="item" v-model="links[index].title">
                        <input type="text" :id="'linkurl' + (index + 1)" :value="item" v-model="links[index].url">
                      </div>
                      <div class="input">
                        <label for="numberColors">Add custom links</label>
                        <div class="description">Like social media links</div>
                        <button @click="decrement">-</button><button @click="increment">+</button>
                      </div>
                      <h4>Done?</h4>
                      <p>When you're done copy just the signature and paste it within your email program.</p>

                      <h3>We also make custom email tools</h3>
                      <p>Just shoot us an email at <a href="tools@studioalloy.nl">tools@studioalloy.nl</a></p>
                    </div>
                    <footer>
                      <a href="https://studioalloy.nl" id="logo">
                        <img src="https://studioalloy.nl/_nuxt/img/a293d3c.svg">
                        <div>
                          <span>Powered by</span>
                          <span>Studio Alloy</span>
                        </div>
                      </a>
                    </footer>
              </div>
              </aside>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src="src/script.js"></script>

</body>

</html>