<div id="app">
  <!-- Sidebar -->
  <aside :class="{'show': !image}">
    <div class="inner">
      <div id="intro">
        <div>
          <h1>Image converter for web</h1>
          <p>Generate images for ready for the web. This tool works the best in Google Chrome or Mircosoft Edge.</p>
        </div>
        <div id="credits">
          <a href="https://studioalloy.nl" id="logo">
            <img src="https://studioalloy.nl/_nuxt/img/a293d3c.svg">
            <div>
              <span>Powered by</span>
              <span>Studio Alloy</span>
            </div>
          </a>
          <div id="version">
            version {{version}}
          </div>
        </div>
      </div>

      <div id="controls" >
        <h2 class="alloy-title">🎛️ Controls</h2>
        <form action="#" @change.prevent="generate" @submit.prevent="generate">
          
          <div class="input file-upload">
            <label for="image">Image</label>
            <label class="description">Upload and frame your image. If you dont have a image yet, check out <a href="https://unsplash.com" target="_blank">Unsplash</a> for royalty free images.</label>
            <input type="file" id="image" @change="onFileChange">
            <label for="image" />🌅 Upload an image</label>
          </div>
        
        <div class="input-group">
          <div class="input">
            <label for="centerLine">Center line</label>
            <input type="checkbox" id="centerLine" v-model="centerLine">
            <label for="centerLine">Toggle the center line on or off</label>
          </div>
          <div class="input">
            <label for="backgrounColor">Background</label>
            <div class="description">If your image has transparensie you can set a background color</div>
            <input type="color" id="backgrounColor" v-model="backgroundColor">
          </div>
        </div>
        
        <div class="input-group">
          <div class="input">
            <label for="quality">Quality</label>
            <div class="description">Default the image will be arround {{convertQuailty}} MB </div>
            <input type="range" id="quality" min="10" max="90" steps="10" v-model="quality">

          </div>
          <div class="input">
            <label for="zoom">Zoom</label>
            <div class="description">Zoom the image to focus on a paticular spot</div>
            <input type="range" id="zoom" min="11" max="50" v-model="zoom">
          </div>
        </div>
        
        <div class="input-group">
          <div class="input">
            <label for="sizes">Sizes</label>
            <div class="description">Export image to a specific size</div>
            <select name="Sizes" id="sizes" v-model="size">
              <option value="2">Normal</option>
              <option value="1">Facebook</option>
            </select>
          </div>
          <button @click="downloadImage" :disabled="!image">Download</button>
        </div>
        
        </form>

      </div>


    </div>

  </aside>
  <!-- END idebar -->
  <!-- 🛠️ Tool -->
  <div id="tool" class="container">
    <div id="center-line" v-if="centerLine">
      <div class="tool-tip">
        <h5>Center line</h5>
        <p>Try to put the most important part of the photo in the middle of the image</p>
      </div>
      <hr>
      <button @click="centerLine = false"><span>⤬</span><span>Close</span></button>
    </div>
    <div class="inner">
      <div ref="download" id="export-image">
        <div id="background" :style="{backgroundColor: backgroundColor}">
          <div class="alloy-image">
            <img :src="image" alt="" :style="{ transform: 'scale('+ convertZoom +')'}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END 🛠️ Tool -->
</div>