<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image converter for web</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="./src/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <!-- Sidebar -->
    <aside>
      <div class="inner">
        <div id="intro">
          <div class="inner">
            <div>
              <h1>Image converter for web</h1>
              <p>Generate images for ready for the web. This tool works the best in Google Chrome or Mircosoft Edge.</p>
            </div>
            <div id="credits">
              <a href="https://studioalloy.nl" id="logo">
                <img src="https://studioalloy.nl/_nuxt/img/a293d3c.svg">
                <div>
                  <span>Powered by</span>
                  <span>Studio Alloy</span>
                </div>
              </a>
              <div id="version">
                version {{version}}
              </div>
            </div>
          </div>
        </div>

        <div id="controls">
          <div class="inner">
            <h2 class="alloy-title">🎛️ Controls</h2>
            <form action="#" @change.prevent="generate" @submit.prevent="generate">

              <div class="input file-upload">
                <label for="image">Image</label>
                <label class="description">Upload and frame your image. If you dont have a image yet, check out <a
                    href="https://unsplash.com" target="_blank">Unsplash</a> for royalty free images.</label>
                <input type="file" id="image" @change="onFileChange">
                <label for="image" />🌅 Upload an image</label>
              </div>

              <div class="input-group">
                <div class="input">
                  <label for="centerLine">Center line</label>
                  <input type="checkbox" id="centerLine" v-model="centerLine">
                  <label for="centerLine">Toggle the center line on or off</label>
                </div>
                <div class="input">
                  <label for="backgrounColor">Background</label>
                  <div class="description">If your image has transparensie you can set a background color</div>
                  <input type="color" id="backgrounColor" v-model="backgroundColor">
                </div>
              </div>

              <div class="input-group">
                <div class="input">
                  <label for="quality">Quality</label>
                  <div class="description">Default the image will be arround {{convertQuailty}} MB </div>
                  <input type="range" id="quality" min="10" max="90" steps="10" v-model="quality">

                </div>
                <div class="input">
                  <label for="zoom">Zoom</label>
                  <div class="description">Zoom the image to focus on a paticular spot</div>
                  <input type="range" id="zoom" min="11" max="50" v-model="zoom">
                </div>
              </div>

              <div class="input-group">
                <div class="input">
                  <label for="sizes">Sizes</label>
                  <div class="description">Export image to a specific size</div>
                  <select name="Sizes" id="sizes" v-model="size">
                    <option value="2">Normal</option>
                    <option value="1">Facebook</option>
                  </select>
                </div>
                <button @click="downloadImage" :disabled="!image">Download</button>
              </div>

            </form>

          </div>
        </div>


      </div>

    </aside>
    <!-- END idebar -->
    <!-- 🛠️ Tool -->
    <div id="tool" class="container">
      <div id="center-line" v-if="centerLine">
        <div class="tool-tip">
          <h5>Center line</h5>
          <p>Try to put the most important part of the photo in the middle of the image</p>
        </div>
        <hr>
        <button @click="centerLine = false"><span>⤬</span><span>Close</span></button>
      </div>
      <div class="inner">
        <div ref="download" id="export-image">
          <div id="background" :style="{backgroundColor: backgroundColor}">
            <div class="alloy-image">
              <img :src="image" alt="" :style="{ transform: 'scale('+ convertZoom +')'}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   <div id="generated">
     <div class="inner">
      <div id="export-image">
        <div id="background">
          <img :src="image" alt="">
        </div>
      </div>
    </div>
  </div> -->
    <!--   <div id="download"></div> -->
    <!-- END 🛠️ Tool -->
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/Draggable.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>