@import url("https://fonts.googleapis.com/css?family=Teko:400,700");
#export-image h1,
#export-image h2,
#export-image h3,
#export-image h4,
#export-image h5,
#export-image h6 {
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fed82f;
  padding: 15px;
  line-height: 0.8em;
  display: inline-block;
  padding: 23px 30px 15px 23px;
  margin: 0;
  font-size: 50px;
}

#export-image h2,
#export-image h3,
#export-image h4,
#export-image h5,
#export-image h6 {
  background-color: #000;
  color: #fff;
  font-size: 50px;
}

#export-image #title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
}

#export-image #title > * {
  display: block;
  pointer-events: none;
}

#export-image #title > *:last-child {
  display: inline-block;
}

#export-image #logo {
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 5px;
  opacity: 0;
}

#export-image #logo.show {
  opacity: 1;
}

#side-nav,
#controls {
  background-color: #344;
  padding: 30px;
}

#side-nav h1,
#side-nav h2,
#side-nav h3,
#side-nav h5,
#side-nav h6,
#side-nav p,
#side-nav label,
#side-nav a,
#controls h1,
#controls h2,
#controls h3,
#controls h5,
#controls h6,
#controls p,
#controls label,
#controls a {
  color: #fff;
}

#controls {
  position: relative;
  width: 100%;
}

#controls .inner {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #controls .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #controls .inner .col {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 30px;
  }
}

.input-field {
  margin-bottom: 30px;
}

.input-field label {
  font-weight: bold;
  display: block;
}

.input-field p {
  font-size: 0.8rem;
  margin-bottom: 7.5px;
}

.input-field input {
  width: 100%;
}

input {
  padding: 7.5px 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #fff;
}

input:focus {
  outline: none;
  border-color: #000;
}

.input-field--checkbox label {
  display: inline-block !important;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  -webkit-transform: translatey(-3px);
          transform: translatey(-3px);
}

input[type="file"] {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
  color: #fff;
}

button,
.btn {
  font-size: 32px;
  background-color: #0ba;
  font-weight: bold;
  padding: 7.5px 15px;
  border: 2px solid #0ba;
  -webkit-transition: background-color, color, opacity;
  transition: background-color, color, opacity;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

button:hover,
.btn:hover {
  background-color: #fff;
  color: #000;
}

button:disabled,
.btn:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  border-color: #ccc;
}

button:disabled:hover,
.btn:disabled:hover {
  background-color: #ccc;
  border-color: #ccc;
}

#download {
  font-size: 34px;
  width: 100%;
  margin-bottom: 30px;
}

#download span {
  margin-left: 15px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  display: inline-block;
}

canvas,
#export-image {
  width: 1200px;
  height: 630px;
}

#export-image {
  position: relative;
  overflow: hidden;
  background-color: pink;
  background-image: url(http://alloy.work/codepen/JdyrZP-jeremia.jpg);
}

#export-image #background {
  position: relative;
  width: 120%;
  height: 1500vmax;
}

#export-image #background img {
  display: block;
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

#export-image #background svg,
#export-image #background img,
#export-image #logo svg,
#export-image #logo img {
  pointer-events: none;
}

#pletterij,
#logo,
#title {
  cursor: move;
  position: absolute;
  z-index: 99999999;
}

#title {
  top: 75px;
  left: 75px;
}

#logo {
  right: 75px;
  bottom: 75px;
}

#logo img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 30px 0;
}

#export-image {
  margin: 0 auto;
}

iframe#cp_embed_zwXPjX {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  height: calc(100vh + 50px);
  border: 0;
}

#tool * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.4em;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 15px;
}

a {
  color: #000;
}
/*# sourceMappingURL=style.css.map */